# Ignore test_blocks4 because of size
test_blocks4/

# Ignore info.json
info.json

# Ignore log files
log/

# Ignore pycaches
__pycache__/
types_script/__pycache__/
lib/__pycache__/

# Ignore nohup.out
nohup.out

# Ignore .vscode
.vscode/